.footer-flex .iconos {
    display: flex;
    justify-content: center;
    background-color: $colornav;
    
 
    .redes1 {
        margin: 10px 7px 15px 7px;
       
    
    }
    .parrafo {
        color: bisque;
    }
    }
